* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #083B4C;
}

.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

h1 {
    color: white;
    font-size: 4rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.squares {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.btn {
    padding: 0.5rem 1rem;
    font-weight: bold;
    background-color: salmon;
    cursor: pointer;
    margin-bottom: 2rem;
}

.sq {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4.5rem;
	height: 4.5rem;
	background-color: #1389B2;
}

.sq3{
    display: flex;
	justify-content: center;
	align-items: center;
	width: 4.5rem;
	height: 4.5rem;
    background-color: gold;
}

.sq5 {
    display: flex;
	justify-content: center;
	align-items: center;
	width: 4.5rem;
	height: 4.5rem;
    background-color: red;
}
.sq15 {
    display: flex;
	justify-content: center;
	align-items: center;
	width: 4.5rem;
	height: 4.5rem;
    background-color: violet;
}